.loader{
    position: absolute;
    top: 40%;
    left: 47%;
  }

  #ch{
    background-color: dodgerblue;
    padding: 10px 135px;
  }

  #ch1{
    background-color: dodgerblue;
    padding-left: 40%;
  }


  .add{
    border: 1px rgb(229, 226, 226) solid;
    padding: 10px 65px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 1px rgb(102, 100, 100);
  }
  
  #loader{
    position: absolute;
  }

  .link{
      border: 2px white solid;
      padding: 5px;
  }

  .link1{
      border: 2px black solid;
      padding: 5px;
  }

  #details{
      padding-left: 40%;
  }

  body{
    background: #00416A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  html, body, .block {
    height: 100%;
  }

  #special{
    margin: 35px;
    width: 99%;
  }

  #it, #telecom, #network{
    padding-top: 0;

  }

.datepicker-calendar-container{
  color: black;
}

input.select-dropdown.dropdown-trigger{
  color: rgb(219, 207, 207);
}

#select.input-field.selection{
  width: 100px;
}

table.striped>thead>tr>th{
  text-align: center;
}

table.striped>tbody>tr>td{
  width: 1%;
  text-align: center;
}

.waves-button-input{
  color: white;
}

.section-footer{
  margin-bottom: 0px;
}

.edit{
  margin-top: 50px;
  width: 90px;
  height: 90px;
}

#section-nav{
  padding-top: 0px;
}

#btn{
  background-color: dodgerblue;
}