<!-- Footer -->
    <section class="section blue darken-2 white-text center">
        <p>Admin Panel Copyright &copy; 2019</p>
    </section>

    <!-- Preloader -->
    <div id="loader" class="loader preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div>
        <div class="gap-patch">
            <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
  </div>