{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Section: Users -->
<section class="section section-users grey lighten-4">
<div class="container">
    <div class="row">
    <div class="col s12">
        <div class="card">
        <div class="card-content">
            <span class="card-title">Users</span>
            <table class="striped">
            <thead>
                <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>Registered</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td width="70">
                    <img src="{% static 'img/person1.jpg' %}" alt="" class="responsive-img circle" style="width:40px; margin-left: 10px;">
                </td>
                <td>John Doe</td>
                <td>john@gmail.com</td>
                <td>Jan 1, 2019</td>
                <td>
                    <a href="details.html" class="btn blue lighten-2">Details</a>
                </td>
                </tr>
                <tr>
                <td width="70">
                    <img src="{% static 'img/person2.jpg' %}" alt="" class="responsive-img circle" style="width:40px; margin-left: 10px;">
                </td>
                <td>gotenks</td>
                <td>got@gmail.com</td>
                <td>Jan 1, 2019</td>
                <td>
                    <a href="details.html" class="btn blue lighten-2">Details</a>
                </td>
                </tr>
                <tr>
                <td width="70">
                    <img src="{% static 'img/person3.jpg' %}" alt="" class="responsive-img circle" style="width:40px; margin-left: 10px;">
                </td>
                <td>Gohan</td>
                <td>gohan@gmail.com</td>
                <td>Jan 1, 2019</td>
                <td>
                    <a href="details.html" class="btn blue lighten-2">Details</a>
                </td>
                </tr>
                <tr>
                <td width="70">
                    <img src="{% static 'img/person4.jpg' %}" alt="" class="responsive-img circle" style="width:40px; margin-left: 10px;">
                </td>
                <td>Goku</td>
                <td>goku@gmail.com</td>
                <td>Jan 1, 2019</td>
                <td>
                    <a href="details.html" class="btn blue lighten-2">Details</a>
                </td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="card-action">
            <ul class="pagination">
            <li class="disabled">
                <a href="#" class="blue-text">
                <i class="material-icons">chevron_left</i>
                </a>
            </li>
            <li class="active blue lighten-2">
                <a href="#" class="white-text">1</a>
            </li>
            <li class="waves-effect">
                <a href="#" class="blue-text">2</a>
            </li>
            <li class="waves-effect">
                <a href="#" class="blue-text">3</a>
            </li>
            <li class="waves-effect">
                <a href="#" class="blue-text">4</a>
            </li>
            <li class="waves-effect">
                <a href="#" class="blue-text">5</a>
            </li>
            <li class="disabled">
                <a href="#" class="blue-text">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
            </ul>
        </div>
        </div>
    </div>
    </div>
</div>
</section>

<!-- Fixed Action Button -->
<div class="fixed-action-btn">
<a href="#user-modal" class="modal-trigger btn-floating btn-large red">
    <i class="material-icons">add</i>
</a>
</div>

<!-- Add User Modal -->
<div id="user-modal" class="modal">
<div class="modal-content">
    <h4>Add User</h4>
    <form>
    <div class="input-field">
        <input type="text" id="title">
        <label for="name">Name</label>
    </div>
    <div class="input-field">
        <input type="email" id="email">
        <label for="email">Email</label>
    </div>
    <div class="input-field">
        <input type="password" id="password">
        <label for="password">Password</label>
    </div>
    <div class="input-field">
        <input type="password" id="password2">
        <label for="password">Confirm Password</label>
    </div>
    <div class="input-field col s12">
        <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Telecaller</option>
            <option value="2">TeleCounselor</option>
            <option value="3">Jr. Counselor</option>
            <option value="3">Sr. Counselor</option>
            <option value="3">Trainer</option>
            <option value="3">Business Development Executive</option>
            <option value="3">HR</option>
            <option value="3">Admin</option>
        </select>
        <label class="white-text">Stream</label>
    </div>
    </form>
    <div class="modal-footer">
    <a href="#" class="modal-action modal-close btn blue white-text">Submit</a>
    </div>
</div>
</div>
{% endblock  %}