{% extends 'base.html' %}

{% block content %}
<!-- Section: Enquiry Form -->
<section class="section section-enquiry">
    <div class="container">
    <div class="row">
        <div class="col s12"> 
        <div class="card blue darken-3 white-text">
            <div class="card-content white-text center">
            <h2>Enquiry Form</h2>
            <form>
                <div class="input-field">
                <i class="material-icons prefix">person</i>
                <input type="text" id="title">
                <label class="white-text" for="name">Name</label>
                </div>
                <div class="input-field">
                <i class="material-icons prefix">email</i>
                <input type="email" id="email">
                <label class="white-text" for="email">Email</label>
                </div>
                <div class="input-field">
                <i class="material-icons prefix">location_city</i>
                <input type="text" id="city">
                <label class="white-text" for="city">City</label>
                </div>
                <div class="input-field">
                <i class="material-icons prefix">date_range</i>
                <input class="datepicker" type="text" id="dob">
                <label class="white-text" for="dob">Date of Birth</label>
                </div>
                <label class="left">
                <h6 class="white-text">GENDER</h6>
                </label>
                <div class="row">
                <div class="col s12 m6 l12">
                    <p class="left">
                    <label>
                        <input name="gender" type="radio" checked />
                        <span class="white-text">Male</span>
                    </label>
                    </p>
                    <p class="center">
                    <label>
                        <input name="gender" type="radio" />
                        <span class="white-text">Female</span>
                    </label>
                    </p>
                </div>
                </div>
                <div class="input-field">
                <i class="material-icons prefix">phone_android</i>
                <input id="contact" type="text" class="validate">
                <label class="active white-text" for="contact">Contact Number</label>
                </div>
                <div class="input-field">
                <i class="material-icons prefix">school</i>
                <input type="text" id="title">
                <label class="white-text" for="sname">S.S.C. School Name</label>
                </div>
                <div class="input-field selection">
                <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option>1990</option>
                    <option>1991</option>
                    <option>1992</option>
                    <option>1993</option>
                    <option>1994</option>
                    <option>1995</option>
                    <option>1996</option>
                    <option>1997</option>
                    <option>1998</option>
                    <option>1999</option>
                    <option>2000</option>
                    <option>2001</option>
                    <option>2002</option>
                    <option>2003</option>
                    <option>2004</option>
                    <option>2005</option>
                    <option>2006</option>
                    <option>2007</option>
                    <option>2008</option>
                    <option>2009</option>
                    <option>2010</option>
                    <option>2011</option>
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                </select>
                <label class="white-text selection">Passing Year</label>
                </div>
                <div class="input-field">
                <i class="material-icons prefix">school</i>
                <input type="text" id="title">
                <label class="white-text" for="sname">H.S.C. School Name</label>
                </div>
                <div class="input-field selection">
                <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option>1990</option>
                    <option>1991</option>
                    <option>1992</option>
                    <option>1993</option>
                    <option>1994</option>
                    <option>1995</option>
                    <option>1996</option>
                    <option>1997</option>
                    <option>1998</option>
                    <option>1999</option>
                    <option>2000</option>
                    <option>2001</option>
                    <option>2002</option>
                    <option>2003</option>
                    <option>2004</option>
                    <option>2005</option>
                    <option>2006</option>
                    <option>2007</option>
                    <option>2008</option>
                    <option>2009</option>
                    <option>2010</option>
                    <option>2011</option>
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                </select>
                <label class="white-text selection">Passing Year</label>
                </div>
                <div class="input-field">
                <i class="material-icons prefix">book</i>
                <input type="text" id="title">
                <label class="white-text" for="sname">Diploma College Name</label>
                </div>
                <div class="input-field selection">
                <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option>1990</option>
                    <option>1991</option>
                    <option>1992</option>
                    <option>1993</option>
                    <option>1994</option>
                    <option>1995</option>
                    <option>1996</option>
                    <option>1997</option>
                    <option>1998</option>
                    <option>1999</option>
                    <option>2000</option>
                    <option>2001</option>
                    <option>2002</option>
                    <option>2003</option>
                    <option>2004</option>
                    <option>2005</option>
                    <option>2006</option>
                    <option>2007</option>
                    <option>2008</option>
                    <option>2009</option>
                    <option>2010</option>
                    <option>2011</option>
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                </select>
                <label class="white-text selection">Passing Year</label>
                </div>
                <div class="input-field">
                <i class="material-icons prefix">book</i>
                <input type="text" id="title">
                <label class="white-text" for="sname">Graduate College Name</label>
                </div>
                <div class="input-field selection">
                <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option>1990</option>
                    <option>1991</option>
                    <option>1992</option>
                    <option>1993</option>
                    <option>1994</option>
                    <option>1995</option>
                    <option>1996</option>
                    <option>1997</option>
                    <option>1998</option>
                    <option>1999</option>
                    <option>2000</option>
                    <option>2001</option>
                    <option>2002</option>
                    <option>2003</option>
                    <option>2004</option>
                    <option>2005</option>
                    <option>2006</option>
                    <option>2007</option>
                    <option>2008</option>
                    <option>2009</option>
                    <option>2010</option>
                    <option>2011</option>
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                </select>
                <label class="white-text selection">Passing Year</label>
                </div> 
                <div class="input-field">
                <i class="material-icons prefix">flash_on</i>
                <input type="text" id="city">
                <label class="white-text" for="city">Specialization</label>
                </div>
                <div class="input-field selection">
                <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option>Employed</option>
                    <option>Self Employed</option>
                    <option>Un-Employed</option>
                    <option>Student</option>
                    <option>Other</option>
                </select>
                <label class="white-text selection">Professional Status</label>
                </div>
                <div class="input-field selection">
                <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option>Banner</option>
                    <option>Job Fair</option>
                    <option>Friends</option>
                    <option>Hoardings</option>
                    <option>Seminar</option>
                    <option>Ex-Student</option>
                    <option>Mailer</option>
                    <option>Insert</option>
                    <option>Waves Website</option>
                    <option>Email</option>
                    <option>Just Dial</option>
                    <option>SMS</option>
                    <option>What's App</option>
                    <option>Waves App</option>
                    <option>Workshop</option>
                </select>
                <label class="white-text selection">Source</label>
                </div>
                <div class="input-field">
                <i class="material-icons prefix">comment</i>
                <input id="source" type="text" class="validate">
                <label class="active white-text" for="source">Remark</label>
                </div>
                <div class="file-field input-field">
                    <div class="btn" id="btn">
                        <span>File</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <div class="input-field">
                <input type="submit" value="S a v e" class="btn waves-effect btn-large btn-extended blue darken-2">
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}